li {
    list-style: none;
    min-height: 150px;
}

.imac_1 {
    box-sizing: border-box;
    width: 1280px;
    margin: 0;
    padding: 0;
}

li:nth-child(1) {
    width: 74%;
    background: rgb(85, 179, 185);
}

li:nth-child(2) {
    width: 49%;
    background: rgb(197, 96, 96);
    margin-left: auto;
}

li:nth-child(3) {
    width: 74%;
    background: rgb(143, 192, 145);
    text-align: center;
    margin: 10px auto 0;
}

li:nth-child(4) {
    width: 49%;
    background: rgb(143, 134, 175);
    text-decoration-line: line-through;
}

.list_style_1 .list_head:nth-child(1) {
    color: rgb(34, 34, 34);
        font-family: Roboto;
        font-size: 3.5em;
        font-weight: 900;
        margin: 10px auto 0 10px;
        padding: 0;
}

.list_style_1 .list_head:nth-child(2),
.list_style_2 .list_head:nth-child(1) {
    font-size: 2.6em;
    font-weight: 500;
    font-family: Roboto;
    margin: 0 auto 10px 10px;
}

.list_style_2 .list_head:nth-child(2) {
    font-family: Sail;
    font-size: 1.75em;
    font-weight: 400;
    margin: 10px auto 0 10px;
    padding: 0;
}

.list_style_2 {
    color: rgba(34, 34, 34, 0.69);
    margin: 10px;
}

.list_style_3 .list_head:nth-child(1) {
    color: rgba(34, 34, 34, 0.62);
    font-family: Roboto;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 28px;
    margin: 10px auto 0;
    padding-top: 10px;
}
.list_style_3 .list_head:nth-child(2) {
    font-family: Sail;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 0.62);
    text-decoration-line: underline;
    margin: 0;
    padding: 0;
}

.list_style_4 .list_head:nth-child(1) {
    color: rgba(46, 46, 46, 0.42);
    font-family: Roboto;
    font-size: 2.6em;
    font-weight: 800;
    margin: 10px auto 0 10px;
}

.list_style_4 .list_head:nth-child(2) {
    color: rgba(46, 46, 46, 0.42);
        font-family: Sail;
        font-size: 1.75em;
        font-weight: 400;
        margin: 0 auto auto 10px;
}

.list_style_1 h1:hover .list_style_1_h1,
.list_style_1 h2:hover .list_style_1_h2,
.list_style_2 h2:hover .list_style_2_h2,
.list_style_2 h3:hover .list_style_2_h3,
.list_style_3 h2:hover .list_style_3_h2,
.list_style_4 h2:hover .list_style_4_h2,
.list_style_4 h3:hover .list_style_4_h3 {
        text-decoration: underline;
}

.imac_1 > li:hover+li {
    border: 3px solid red;
}

li:hover {
    width: 100%;
    font-size: 200%;
} 
